.top{
    background-color: orange;
    height: 60px;
}
.logo{
    background-color: rgb(231, 104, 0);
    height: 130px;
    width: 160px;
    border-radius: 50%;
    padding-top: 46px;
    padding-left: 33px;
    padding-right: 5px;
    font-size: 50px;
    color: white;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 240px;
 }
 .para{
    margin-top: 30px;
    margin-left: 200px;
 }
 .list div{
    margin-top: 40px;
    margin-left: 130px;
    max-width: 500px;
    font-size: 20px;
 }